body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    main {
        height: 100vh;
        background-image: url("../images/Layer_1.svg");
        background-size: cover;
        .aiCharactor {
            width: 25%;
            img {
                width: 100%;
            }
        }
    }
}
